* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e3e3e3;
  overflow-x: hidden;
}
.container_navTexts {
  background-image: url(./images/banner.png);
  background-size: cover;
  height: 120vh;
  position: relative;
  margin-bottom: 200px;
}
.container_navTexts::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: #af0000;
  right: 0;
  bottom: -30px;
  left: 0;
  transform-origin: top left;
  transform: skewY(1.5deg);
  z-index: -1;
}
.container_navTexts nav {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_navTexts nav .img {
  height: 10vh;
}
.container_navTexts nav .img img {
  height: 100%;
  margin-top: 10px;
}
.container_navTexts nav .contat_list {
  text-align: end;
}
.container_navTexts nav .contat_list p {
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
}
.container_navTexts nav .contat_list button {
  outline: none;
  border: none;
  background-color: #cf0000;
  color: #eee;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  margin-left: 10px;
}
.container_navTexts nav .contat_list button:hover {
  cursor: pointer;
}
.container_navTexts nav .contat_list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  margin-top: 15px;
}
.container_navTexts nav .contat_list ul li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.container_navTexts nav .contat_list ul li:hover {
  cursor: pointer;
}
.container_navTexts nav div ul li span {
  display: inline-block;
  height: 0px;
  width: 0px;
  position: relative;
  bottom: 5px;
  border: 4px solid;
  border-color: black black transparent transparent;
  transform: rotate(135deg);
}

.container_navTexts aside {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.8);
  position: relative;
  top: 30%;
  width: 60%;
  padding: 3rem;
}
.container_navTexts aside h1 {
  font-size: 3rem;
  margin: 0px 0px 30px 0px;
}
.container_navTexts aside p {
  opacity: 0.6;
  margin: 0px 0px 30px 0px;
  font-size: 1.1rem;
  width: 85%;
}
.container_navTexts aside button {
  outline: none;
  border: none;
  background-color: #cf0000;
  color: #eee;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
}
.container_navTexts aside button:hover {
  cursor: pointer;
}
main .advantage {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .advantage .img_texts {
  display: flex;
  justify-content: center;
}
main .advantage .img_texts div.img {
  width: 45vw;
  margin: 0px 6rem 0px 4rem;
}
main .advantage .img_texts div.img img {
  width: 100%;
}
main .advantage .img_texts div.ad_texts {
  width: 30vw;
  flex-direction: column;
  align-items: flex-start;
  color: #333;
}
main .advantage .img_texts div.ad_texts h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .advantage .img_texts div.ad_texts p {
  line-height: 20px;
  margin-bottom: 20px;
  width: 95%;
}
main .advantage .img_texts div.ad_texts button {
  display: block;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: #cf0000;
  color: #eee;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  transform: rotate(0deg);
  left: 0px;
}
main .advantage .img_texts div.ad_texts button {
  cursor: pointer;
}

main .advantage button {
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: #cf0000;
  color: #eee;
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  transform: rotate(270deg);

  position: relative;
  left: 60px;
}
main .fire_services {
  color: #333;
}
main .advantage::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: #af0000;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(1.5deg);
  z-index: -1;
}
main .fire_services {
  margin: 100px 0px 50px 0px;
  padding: 0rem 4rem;
}
main .fire_services h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .fire_services p {
  width: 85%;
  font-size: 1.05rem;
  line-height: 20px;
}
main .tab_bar {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding-left: 2rem;
}
main .tab_bar .tab .texts {
  color: #333;
  position: relative;
  bottom: 80px;
}
main .tab_bar input[type="radio"] {
  display: none;
}
main .tab_bar label {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin: 0px 4rem;
}
main .tab_bar label:hover {
  color: #cf0000;
  cursor: pointer;
}
main .tab_bar .tab {
  display: none;
  order: 1;
  border-top: 3px solid #333;
  width: 95%;
  padding: 2rem 2rem;
  margin-top: 10px;
}

main .tab_bar .tab .texts {
  width: 50%;
  display: inline-block;
}
main .tab_bar .tab .texts h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
main .tab_bar .tab .texts p {
  font-size: 1.1rem;
  margin-bottom: 50px;
  line-height: 20px;
  width: 80%;
}
main .tab_bar .tab .texts button {
  background-color: #cf0000;
  border: 0;
  color: #eee;
  outline: none;
  padding: 0.8rem 5rem;
  font-size: 1.3rem;
}
main .tab_bar .tab .texts button:hover {
  cursor: pointer;
}
main .tab_bar .tab .imgs {
  display: inline-block;

  width: 40vw;
  height: 40vh;
}
main .tab_bar .tab .imgs img {
  width: 100%;
  height: 100%;
}
main .tab_bar input[type="radio"]:checked + label {
  color: #cf0000;
}
main .tab_bar input[type="radio"]:checked + label + .tab {
  display: block;
}

main .partner_brands {
  margin-top: 80px;
  color: #333;
  position: relative;
}

main .partner_brands h2 {
  padding-left: 4rem;

  margin-bottom: 30px;
  font-size: 1.8rem;
  text-transform: uppercase;
}
main .partner_brands p {
  padding-left: 4rem;

  width: 80%;
  line-height: 20px;
  margin-bottom: 30px;
}
main .partner_brands .logo_marks .first_line {
  padding-left: 4rem;

  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 30px;
}
main .partner_brands .logo_marks .first_line img {
  padding: 5rem 1rem;
  background-color: #fff;
  width: 300px;
}
main .partner_brands .logo_marks .second_line {
  padding-left: 3rem;

  display: flex;
  justify-content: space-between;
  width: 90%;
}
main .partner_brands .logo_marks .second_line img {
  padding: 4rem 1.5rem;
  background-color: #fff;
  width: 200px;
}
main .partner_brands button {
  background-color: #cf0000;
  border: 0;
  color: #eee;
  outline: none;
  padding: 0.8rem 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 2rem 4rem;
}
main .partner_brands button:hover {
  cursor: pointer;
}
main .projects {
  margin-top: 200px;
  padding-bottom: 10rem;
  background: rgba(0, 0, 0, 0.7) url(./images/featured-projects-banner.png);
  background-size: cover;
  background-blend-mode: darken;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main .projects::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: #af0000;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(1.5deg);
  z-index: -1;
}
main .projects div {
  width: 60%;
}
main .projects .texts {
  background-color: rgba(55, 55, 55, 0.8);
  margin: 100px 0px 30px 0px;
  padding: 2rem 5rem;
}
main .projects .texts h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .projects .texts p {
  opacity: 0.8;
}
main .projects .project_one {
  display: flex;
  align-items: center;
}
main .projects .project_one .img {
  width: 55%;
}
main .projects .project_one img {
  width: 100%;
}
main .projects .project_one aside {
  width: 45%;
  background-color: rgba(55, 55, 55, 0.8);
  height: 55vh;
  padding: 3rem;
}
main .projects .project_one aside h3 {
  padding: 1rem;
  text-transform: uppercase;
}
main .projects .project_one aside p {
  padding: 1rem;
  opacity: 0.8;
}
main .projects .project_one aside button {
  margin-left: 1rem;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  outline: none;
  border: none;
}
main .projects .project_one aside button:hover {
  cursor: pointer;
}
main .articles {
  padding: 4rem;
  position: relative;
  width: 90vw;
}
main .articles::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 15%;
  background: #af0000;
  top: -90px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(1.5deg);
  z-index: -1;
}
main .articles h2 {
  margin: 100px 0px 30px 0px;
  color: #333;
  font-size: 2rem;
  text-transform: uppercase;
}
main .articles p {
  margin-bottom: 30px;
  width: 65%;
  font-size: 1.1rem;
}
main .articles div {
  display: flex;
  justify-content: space-between;
}
main .articles div article {
  position: relative;
}
main .articles div article h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
}
main .articles div article p {
  color: #fff;
  position: relative;
  bottom: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
main .articles div article .image img {
  width: 400px;
}

main .articles button {
  background-color: #cf0000;
  border: 0;
  color: #eee;
  outline: none;
  padding: 0.8rem 3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
main .articles button:hover {
  cursor: pointer;
}
main .review {
  background: url(./images/banner.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0px;
  position: relative;
  margin-top: 200px;
}
main .review::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: #af0000;
  top: -20px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-1.5deg);
  z-index: -1;
}
main .review div {
  background-color: rgba(55, 55, 55, 0.9);
  width: 32%;
  margin-bottom: 50px;
  padding: 2.5rem;
}
main .review .mid {
  margin: 0px 28px 50px 25px;
}
main .review div h2 {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
main .review div p {
  margin: 20px 0px;
}
main .review div .name {
  text-align: center;
}

main .review button {
  background-color: #cf0000;
  border: 0;
  color: #eee;
  outline: none;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}
main .review button:hover {
  cursor: pointer;
}

main .cadastre {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
}
main .cadastre::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background: #af0000;

  top: -160px;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(1.5deg);
  z-index: -1;
}
main .cadastre h2 {
  width: 50%;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}
main .cadastre p {
  width: 50%;
  margin-bottom: 20px;
  color: #333;
}
main .cadastre form {
  width: 50%;
}
main .cadastre form section {
  display: flex;
  flex-wrap: wrap;
}
main .cadastre form section div {
  margin-right: 30px;
}

main .cadastre form label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .cadastre form input {
  background-color: #ccc;
  border: none;
  padding: 0.5rem;
  width: 19.5vw;
  margin-bottom: 1.5rem;
  outline: none;
  display: block;
}
main .cadastre form .msg {
  background-color: #ccc;
  border: none;
  outline: none;
  display: block;
  resize: none;
  margin-bottom: 30px;
  width: 83%;
  padding: 1rem;
}
main .cadastre form button {
  background-color: #cf0000;
  border: 0;
  color: #eee;
  outline: none;
  font-size: 1.2rem;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
}
main .cadastre form button:hover {
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 7rem 2rem;
  margin-top: 100px;
  overflow: hidden;
  width: 100vw;
  justify-content: space-between;

  position: relative;
}

footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
  background-color: #af0000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-1.5deg);
}
footer .social {
  width: 50%;
}

footer .social > img {
  width: 300px;
}
footer .social span {
  display: block;
  margin: 1rem 0px 1rem 2rem;
  opacity: 0.3;
}
footer .social p {
  margin-left: 2rem;
}
footer .social img.first {
  margin-left: 2rem;
}
footer .social img {
  margin: 10px 10px 0px 0px;
}
footer .info {
  width: 50%;
  justify-content: space-between;
  display: flex;
}
footer .info div {
  border-top: 2px solid #333;
  display: flex;
  text-transform: uppercase;
  width: 28%;
  opacity: 0.8;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: space-between;
}
footer .info div h3 {
  text-transform: uppercase;
  margin-top: 20px;
  width: 60%;
  line-height: 25px;
}
footer .info div a {
  text-decoration: none;
  color: #fff;
}
